{% extends 'help_desk/base.html' %}
{% load i18n %}

{% block title %}{% trans "Set Help Desk Staff Password" %}{% endblock %}

{% block content %}
  <h1 class="page-width cushion">{% blocktrans trimmed with user=object %}Setting password for user {{ user }}.{% endblocktrans %}</h1>

  <div class="milk">
    <div class="page-width cushion">
      <form class="two-thirds" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="submit">{% trans "Submit" %}</button>
        <a class="button inverse right" href="{% url 'staff_list' %}">{% trans "Cancel" %}</a>
    </form>
  </div>
{% endblock %}
