*.py[co]
.project
.pydevproject
.idea
*~
*.db
*.orig
.DS_Store
._*
.coverage
*/settings/local.py
public/static/
public/media/
libya_elections.log
libya_elections.log.*
./reports/*
env
jmeter.log
.transifexrc
locale/en/
docs/_build
infrastructure.json
infrastructure.json.gz
.noseids
celerybeat-schedule
dump.rdb
