{% load i18n %}
<form method="post"
      novalidate
      action="{% url 'vr_dashboard:whitelist-phone' %}" {% if mode == "phone-list" %}class="inline-whitelist-form"{% endif %}>
    {% csrf_token %}
    {% if mode == "phone-list" %}
        <input type="hidden" name="center_id" value="{{ phone.registration_center.center_id }}" />
    {% endif %}
    <input type="hidden" name="phone" value="{{ phone_number }}" />
    <input type="submit" {% if mode == "phone-list" %}class="submit-as-link"{% endif %} value="{% trans "Add to Whitelist" %}" />
</form>
