{% load i18n help_desk_tags %}
{% if page_obj.has_other_pages %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="{% previous_page_link %}">{% trans "Previous" %}</a>
      {% endif %}

      <span class="current">
        {% blocktrans trimmed with number=page_obj.number pages=paginator.num_pages %}
          Page {{ number }} of {{ pages }}.
        {% endblocktrans %}
      </span>

      {% if page_obj.has_next %}
          <a href="{% next_page_link %}">{% trans "Next" %}</a>
      {% endif %}
    </span>
  </div>
{% endif %}
