{% extends "bread/edit.html" %}
{% load i18n %}

{% block title %}{% trans "Upload SMSes for Broadcast" %}{% endblock title %}

{% block content %}
  <div class="page-width cushion-sides">
    <h1>{% trans "Upload SMSes for Broadcast" %}</h1>
  </div>

  <div class="milk">
    <div class="page-width cushion">
      <form method="post" action="" class="two-thirds" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for field in form %}
          <label for="id_{{ field.name }}" class="{% if field.field.required %}required{% endif %}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            {{ field.errors }}
          {% endif %}
          <div class="helptext">
            {% if field.name == 'csv' %}
              {% blocktrans trimmed %}
                <p>
                  Please upload your CSV with 12-digit phone number(s) in the first column
                  and the message text in the second column.
                </p>
                <ul>
                  <li>Do not include '+' or '()' in the phone number column (ie 218911234567).</li>
                  <li>Do not include column headers.</li>
                  <li>The CSV must be saved with UTF-8 encoding</li>
                </ul>
              {% endblocktrans %}
            {% endif %}
          </div>
        {% endfor %}

        <div class="spacer"></div>

        <input type="submit" class="success" value="{% trans 'Upload' %}"/>
        <a class="button inverse right" href="{% url 'browse_broadcasts' %}">{% trans "Cancel" %}</a>
      </form>
    </div>
  </div>
{% endblock %}
