{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block page_title %}{% if validlink %}{% trans 'Enter new password' %}{% else %}{% trans 'Password reset unsuccessful' %}{% endif %}{% endblock %}

{% block registration_content %}
  {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form action="" method="post">
      {% csrf_token %}

      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}

      {% if form.new_password1.errors %}
        {{ form.new_password1.errors }}
      {% endif %}

      <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
      {{ form.new_password2 }}

      {% if form.new_password2.errors %}
        {{ form.new_password2.errors }}
      {% endif %}

      <div class="spacer"></div>
      <input class="half" type="submit" value="{% trans 'Change my password' %}" />
    </form>
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
{% endblock registration_content %}
