{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block page_title %}{% trans "Password reset" %}{% endblock %}

{% block registration_content %}
  <p>{% trans "Forgotten your username or password? Enter your email address below, and we'll email instructions for setting a new password. Your username will be included in that email." %}</p>

  <form action="" method="post">
    {% csrf_token %}

    {{ form.email.label_tag }}
    {{ form.email }}

    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}

    <div class="spacer"></div>
    <input class="full" type="submit" value="{% trans 'Reset my password' %}">
  </form>
{% endblock registration_content %}
