{% extends 'vr_dashboard/base.html' %}
{% load humanize i18n staticfiles vr_dashboard_tags %}
{% block content %}
  <div class="full plum">
    <div class="page-width cushion">
      <h2>{% trans "Registration Stats" %}</h2>
      <h4>{% trans "Click on a row below to see it in the chart." %}</h4>
      <div class="milk">
        <table id="comparison_data">
          <thead>
            <tr>
              <th></th>
              <th colspan='3'>{% trans "Cumulative Totals" %}</th>
              <th colspan='3'>{{ yesterday }} {% trans "Total" context "yesterday_total" %}</th>
              <th colspan="5">{% trans "Age Totals" %}</th>
            </tr>
            <tr>
              <th class="left">{% trans "Office" %}</th>
              <th>{% trans "Male" %}</th>
              <th>{% trans "Female" %}</th>
              <th>{% trans "Total" %}</th>
              <th>{% trans "Male" %}</th>
              <th>{% trans "Female" %}</th>
              <th>{% trans "Total" %}</th>
              {% for age in age_groupings %}
                <th>{{ age }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for o in office_info %}
            <tr>
              <td class='end-column label left'>
                <span class="swatch"></span>
                {{ o.id }} {{ o.name}}
              </td>
              <td style='background-color: {{ o.m_color }}'>{{ o.m|intcomma }}</td>
              <td style='background-color: {{ o.f_color }}'>{{ o.f|intcomma }}</td>
              <td class='end-column' style='background-color: {{ o.t_color }}'>{{ o.t|intcomma }}</td>
              <td style='background-color: {{ o.m_yesterday_color }}'>{{ o.m_yesterday|intcomma }}</td>
              <td style='background-color: {{ o.f_yesterday_color }}'>{{ o.f_yesterday|intcomma }}</td>
              <td class='end-column' style='background-color: {{ o.t_yesterday_color }}'>{{ o.t_yesterday|intcomma }}</td>
              {% for age in age_groupings %}
                {% if forloop.last %}
                  <td class='end-column'>{% lookup o age 'intcomma' %}</td>
                {% else %}
                  <td>{% lookup o age 'intcomma' %}</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
            <tr class='sum-row'>
              <td class='end-column label left'>
                <span class="swatch"></span>
                {% trans "Total" %}
              </td>
              <td style='background-color: {{ totals.m_color }}'>{{ totals.m|intcomma }}</td>
              <td style='background-color: {{ totals.f_color }}'>{{ totals.f|intcomma }}</td>
              <td class='end-column' style='background-color: {{ totals.t_color }}'>{{ totals.t|intcomma }}</td>
              <td style='background-color: {{ totals.m_yesterday_color }}'>{{ totals.m_yesterday|intcomma }}</td>
              <td style='background-color: {{ totals.f_yesterday_color }}'>{{ totals.f_yesterday|intcomma }}</td>
              <td class='end-column' style='background-color: {{ totals.t_yesterday_color }}'>{{ totals.t_yesterday|intcomma }}</td>
              {% for age in age_groupings %}
                {% if forloop.last %}
                  <td class='end-column'>{% lookup totals age 'intcomma' %}</td>
                {% else %}
                  <td>{% lookup totals age 'intcomma' %}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/chart-interaction.js' %}"></script>
  <script>
    {% gen_data_points request 'newRegs' nr 'lv' %}
    {% gen_data_points request 'cumRegs' cr 'xy' %}
    vrDashboardCharts.addNormalCharts(newRegs, cumRegs);
    setupSlider();
  </script>
{% endblock extra_js %}
